/*body {
  padding: 50px;
  margin-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}*/ 

body {
  /*padding: 50px;*/ 
  margin-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #666633;
  background-image: url('../images/pattern3.png'); 
}

a {
  color: black;
}

a:hover {
	color: black;
}

#navbar {
	background-color: white;
}

.navbar-inverse .navbar-brand {
  color: #666;
}

.navbar-inverse .navbar-nav>li>a {
  color: #666;
  font-size: 20px;
}

#white-background {
	background-color: white; 
}

.price-line {
	width: 100px; 
	float: left; 
	font-size: 14px;
	font-weight: bold; 
	padding: 10px;
	background-color: #C5E5A4;

}

.price-line2 {
	width: 100px; 
	float: left; 
	font-size: 14px;
	font-weight: bold; 
	padding: 10px;
	background-color: #FBFCC6

}

.price {
	/*color: orange; */ 
	font-weight: bold; 
	weight: bold;
}

.product-title {
	font-weight: bold;
}

.title {
	color: blueviolet;
}

.category {
	text-transform: uppercase;
	font-weight: bold;
	color: #ACAC31;
	border-top: solid 5px #9C0009;
}

.contact-line {
	font-weight: bold;
}

.logo {
  width: 150px;
  border: solid 1px black;
}

.logo-bottom {
  margin-left: 35px; 
  width: 150px;
  border: solid 1px #666;	
}

#header {
	padding: 20px;
	background-color: white;
}

.striped {
	height: 24px;
	background-image: url('../images/stripe2.png');	
}  

.green-bar {
	height: 24px;
	background-color: green;	
}

.header-top {
	padding: 20px;
	background-color: green; 
	color: white;
}

.header-bottom {
	padding: 20px; 
	background-color: white;
	color: black;
	height: 57px; 
}

.header-menu {
	margin-top: 50px;
}

.header-menu-item {
	border-left-style: solid; 
	border-left-width: 5px; 
	border-left-color: #ACAC31; 
}

.margin10 {
	margin-top: 10px;
}

.dashed-border {
	border-bottom-style: dashed;
	border-bottom-color: yellow;
	padding-bottom: 10px; 
}

.dashed-border2 {
	border-top-style: dashed;
	border-top-color: yellow;
	padding-bottom: 10px; 
	background-color: white;

}


.footer-text {
	text-align: center; 
}

.center {
	text-align: center;
}

.block-center {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 10px;
}

.bold {
	font-weight: bold; 
}

.underline {
	border-bottom-style: solid; 
	border-bottom-width: 2px; 
	border-bottom-color: black;
	padding-bottom: 10px; 
}

.green-text {
	color: green;
}

@media (max-width: 480px) {

	.logo {
	  width: 150px;
	  border: solid 1px #666;
	  position: relative;
	  margin-left: 0px;
	}


	.header-menu-item {
		margin-left: 200px; 
		margin-top: 10px;
		font-size: 20px; 
	}

	.price-line {
		width: 65px; 
		float: left; 
		font-size: 14px;
		font-weight: bold; 
		padding: 10px;
		background-color: #C5E5A4;

	}

	.price-line2 {
		width: 65px; 
		float: left; 
		font-size: 14px;
		font-weight: bold; 
		padding: 10px;
		background-color: #FBFCC6

	}

}




