body {
  /*padding: 50px;*/ 
  margin-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #666633;*/
  background-image: url('../images/pattern3.png'); 
}

a {
  /*color: #00B7FF; */ 
}

#navbar {
	background-color: white;
}

.navbar-inverse .navbar-brand {
  color: #666;
}

.navbar-inverse .navbar-nav>li>a {
  color: #666;
  font-size: 20px;
}

#white-background {
	background-color: white; 
}

.price-line {
	margin-right: 10px; 
	font-size: 20px;

}

.price {
	/*color: orange; */ 
	font-weight: bold; 
	weight: bold;
}

.title {
	color: blueviolet;
}

.category {
	text-transform: uppercase;
	font-weight: bold;
	color: #ACAC31;
	border-top: solid 5px #990000;
}

.contact-line {
	font-weight: bold;
}

.logo {
  width: 150px;
}

#header {
	padding: 20px;
	background-color: white;
}

.striped {
	height: 24px;
	background-image: url('../images/stripe2.png');	
}  

.header-menu {
	margin-top: 50px;
}

.header-menu-item {
	border-left-style: solid; 
	border-left-width: 5px; 
	border-left-color: #ACAC31; 
}

.margin10 {
	margin-top: 10px;
}

.dashed-border {
	border-bottom-style: dashed;
	border-bottom-color: yellow;
	padding-bottom: 10px; 
}

.footer-text {
	text-align: center; 
}