body {
  /*padding: 50px;*/ 
  margin-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  /*color: #00B7FF; */ 
}

#navbar {
	background-color: white;
}

.navbar-inverse .navbar-brand {
  color: #666;
}

.navbar-inverse .navbar-nav>li>a {
  color: #666;
  font-size: 20px;
}

#white-background {
	background-color: white; 
}

.price-line {
	margin-right: 10px; 
	font-size: 20px;

}

.price {
	/*color: orange; */ 
	font-weight: bold; 
	weight: bold;
}

.title {
	color: blueviolet;
}

.category {
	text-transform: uppercase;
	font-weight: bold;
	color: #ACAC31;
	border-top: solid 5px #990000;
}

.contact-line {
	font-weight: bold;
}

.logo {
  width: 150px;
  border: solid 1px #666;
  position: relative;
  top: -70px;
}

.logo-bottom {
  width: 150px;
  border: solid 1px #666;	
}

#header {
	padding: 20px;
	background-color: white;
}

.striped {
	height: 24px;
	background-image: url('../images/stripe2.png');	
}  

.green-bar {
	height: 24px;
	background-color: green;	
}

.header-top {
	padding: 20px;
	background-color: green; 
	color: white;
}

.header-bottom {
	padding: 20px; 
	background-color: white;
	color: black;
	height: 57px; 
}

.header-menu {
	margin-top: 50px;
}

.header-menu-item {

}

.margin10 {
	margin-top: 10px;
}

.dashed-border {
	border-bottom-style: dashed;
	border-bottom-color: yellow;
	padding-bottom: 10px; 
}

.dashed-border2 {
	border-top-style: dashed;
	border-top-color: yellow;
	padding-bottom: 10px; 
	background-color: white;

}


.footer-text {
	text-align: center; 
}